
.individual-image-main {
    width: 100%;
    display: flex;
    /* top: 30px; */
    position: relative;
}

.individual_container {
    padding-left: 30px;
}

.individual_image_container {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* padding-left: 30px; */
    padding-top: 30px;
}

.image-elem {
    position: relative;
    width: 900px;    
    padding: 0;
    margin: 0;
    transition: all 0.45s ease-in;
    cursor: pointer;
}

.user-attributes {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px ;
    background-image: linear-gradient(0deg,transparent, rgba(57, 57, 57, .05),rgba(57,57,57, .61), rgba(57,57,57, .61));
    color: white;
    height: 80px;
    opacity: 0;
    cursor: pointer;
}

.image-elem:hover  .user-attributes{
    top: 0;
    opacity: 1;
    pointer-events: none;
    cursor: pointer;
    z-index: 10;
}

.image-elem:hover::after  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.user-attributes .user-name {
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.user-attributes .user-tags {
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.image-elem img {
   width: 100%;
   height:initial;
   object-fit:fill;
   background-position: center;
   background-size:cover;
   transition: all 0.35s ease-in;
   padding: 0;
   margin: 0;
   box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.4);
}




.individual_profile {
    position: relative;
    top: 30px;
    left: 50px;
}

.author_profile {
    display: flex;
    justify-content: space-between;
    /* background-color:blueviolet; */
    align-items: center;
    margin-right: 0;
    position: relative;
    right: 10px;
}

.profile_image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    /* background-color: blueviolet; */
}

.profile_name {
    flex-grow: 1;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    font-family: sans-serif;
    color: #007890;
}

.profile-navigate {
    /* margin-left: 20px; */
}

.profile-navigate a {
    text-decoration: none;
    color: #007890;
    font-weight: 700;
    font-size: 14px;
}

.profile-navigate a:hover {
    text-decoration: underline;
}

.image_button {
    display: flex;
    position: relative;
    top: 20px;
    right: 10px;
    background-color: #fff;
    width: 320px;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.image_button button {
    /* position: absolute; */
    border-radius: 12px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
}

.individual_like {
    /* transform: translate3d(10px, 0, 0); */
    border: transparent;
    padding: 6px 24px;
    background-color: #008ddf;
    color: #fff;
}

.individual_like:hover {
    background-color: #0078e7;
    cursor: pointer;
}

.individual_share {
    /* transform: translate3d(48px,0,0); */
    border: transparent;
    padding: 6px 36px;
    background: #e6e6e6;
    cursor: pointer;
}

.individual_share:hover {
    background-color: #d6d6d6
}

.individual_favorite {
    /* transform: translate3d(30px, 0 ,0); */
    border: transparent;
    padding: 6px 24px;
    background-color:#008ddf;
    color: #fff
}

.individual_favorite:hover {
    background-color: #0078e7;
    cursor: pointer;
}


.individual_delete {
    position: relative;
    /* top: 65px; */
    border: transparent;
    background-color:#008ddf;
    color: #fff;
    border-radius: 6px;
    padding: 10px 16px 10px 16px;
    font-size: 14px;
    cursor: pointer;
}



.individual_last {
    display: flex;
    position: relative;
    /* top: 50px; */
    top: 60px;
    padding-bottom: 100px;
}

.individual_last button {
    border: none;
    background-color:#008ddf;
    color: #fff;
    padding: 6px 8px;
    border-radius: 12px;
}

.individual_last button:hover {
    background-color: #0078e7;
    cursor: pointer;
}

.individual_last .login_request {
    padding: 6px 8px;
}

.individual_last a {
    text-decoration: none;
    color: #0078e7;
    
}

@media only screen and (max-width: 768px) {
    .individual_profile {
        position: relative;
        bottom: 70px;
        left: 0;
        transform: translate3d(0, 20px, 0);
    }

    .individual_last {
        top: 140px;
    }

    .individual_up {
        width: 630px;
        
    }

    .individual_down {
        width: 630px;
        position: relative;
        bottom: 2px;
    }

    .individual_image_container{
        width: 630px;
        height: auto;
    }

    .individual_image_container img {
        height: 500px;
    }

    
}

.download-image {
    position: relative;
    top: 30px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    /* background-color:aquamarine; */
    right: 10px;
}

.download-image button {
    padding: 10px 16px 10px 16px;
    border-radius: 6px;
    background: #008ddf;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.img-dwnld i {
    padding-right: 4px;
}

.picture-size {
    background-color: #f0ebcc;
    width: 40%;
    text-align: center;
    position: relative;
    top: 27px;
    left: 178px;
    border-radius: 7px;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.picture-size a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 600;
}

.picture-size a:hover {
    color: rgba(73, 62, 62, 0.4);
}

.picture-size ul li {
    padding: 8px 3px 8px 3px;
    cursor: pointer;
}



/*  Modal  */

.modal-form {
    position: relative;
    top: 100px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
    position: relative;
    top: 100px;
}

.modal-info p{
    text-align: center;
    padding-top: 20px;
} 

.modal-button {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.yes {
    margin-right: 20px;
    padding: 2px 20px;
    cursor: pointer;
}

.modal-button a button {
    text-decoration: none;
    color: #0078e7;
}

.no a {
    text-decoration: none;
    color: #0078e7;
}

.no {
    margin-left:20px;
    padding: 2px 20px;
    cursor: pointer;
}

/* Social share Icons */

body {
    background: #eaeded;
}

.social-share {
    display: flex;
    background-color: #fff;
    position: relative;
    left: 212px;
    top: -36px;
    padding: 10px;
    justify-content: space-around; 
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 80px;
    max-width: 110px;
    width: 100%; 
    display: none;
}



.social-share a {
    text-align: center;
    transition: all 500ms ease-in-out;    
    cursor: pointer;
    text-decoration: none;
}

.social-share i {
    font-size: 28px;
    margin: 10px;
}

.social-share i:hover {
    transform: scale(1.1);
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-pinterest {
    color: #e60023;
}

.fa-instagram {
    color: #c13584;
}

.fa-whatsapp-square {
    color: #25d366;
}






